<!doctype html>
<html lang="en" ng-app="LunchCheck">
  <head>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      .message { font-size: 1.3em; font-weight: bold; }
      
      .red{
          color: red;
      }

      .green{
          color: green;
      }

      .error{
          border-color: red;
      }

      .enjoy{
          border-color: green;
      }
    </style>
    <script src="angular.js"></script>
    <script src="app.js"></script>
  </head>
<body>
   <div class="container" ng-controller="lunchCheckController">
     <h1>Lunch Checker</h1>

         <div class="form-group">
             <input id="lunch-menu" type="text"
             placeholder="list comma separated dishes you usually have for lunch"
             class="form-control {{element.color}}" ng-model="lunchItems">
         </div>
         <div class="form-group">
             <button class="btn btn-default" ng-click="getMyMessage()">Check If Too Much</button>
         </div>
         <div class="form-group message {{element.color}}">
            {{element.message}}
         </div>
   </div>

   
</body>
</html>